<li>
  <div class="bold">
    {{rental.owner}}'s {{rental.type}} in {{rental.city}}
  </div>
  {{#if isImageShowing }}
    <p><img class="img-size well" src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}<br>
    <button class="btn btn-primary btn-md" {{action 'imageShow'}}>Show Image</button>
  {{/if}}
  {{update-rental rental=rental update="update"}}
  <button class="btn btn-danger btn-md" {{action 'delete' rental}}>Delete</button>
</li>
