<li>
  <div class="bold">
    {{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}} in {{rental.city}}{{/link-to}}
  </div>
  {{#if isImageShowing }}
    <p><img class="img-size well" src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
  {{else}}<br>
    <button class="btn btn-primary btn-md" {{action 'imageShow'}}>Show Image</button>

  {{/if}}
</li>
<h4> Reviews </h4>
<ul>
  {{#each rental.reviews as |review|}}
    {{review-tile review=review destroyReview="destroyReview"}}
  {{/each}}
</ul>

<button {{action 'delete' rental}}>Delete</button>
